.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 4.0625rem;
  background: #a0b2f3;
}

.header-container {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.search-form {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 37.5rem;
}

.search-form-input {
  flex-grow: 1;
  padding: 0.3125rem 0.9375rem;
  max-width: 37.5rem;
  width: 20rem;
  height: 2.75rem;

  border: none;
  outline: none;
  border-radius: 2.5rem;

  background-color: #ebecf0;
  color: #2b3979;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.075rem;

  &:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }
}

.search-form-btn {
  display: flex;
  align-items: center;
  margin-left: 0.625rem;
  padding: 0.625rem 1.25rem;
  max-width: 9.375rem;
  height: 2.5rem;

  border: none;
  outline: 0;
  border-radius: 320px;
  cursor: pointer;

  color: #2b3979;
  text-shadow: 1px 1px 1px #fff;
  text-transform: capitalize;
  font-weight: 600;

  &:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
  }

  // &:active {
  //     box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;

  // }
}

// .search {
//     margin-right: .625rem;
//     fill: #2b3979;
// }
